body {
  height: 5000px;
}
#jumbotron {
  background-color: #7ffaac;
}
.font-judul {
  font-family: 'Oswald', sans-serif;
}
.font-paragraf {
  font-family: 'Arima', cursive;
}
.font-standart {
  font-family: 'Courier New', Courier, monospace;
}

section {
  padding-top: 50px;
}

@media (min-width: 992px) {
  .logo {
    width: 500px;
  }
}

@media (max-width: 729px) {
  .logo {
    width: 250px;
  }
}
